  .frame {
    height: 100%;
    width: 100%;
    padding: 0;
  }
.whatsapp{
  color: #084b4e;
}
  .textBox {
    border: 0;
    padding: 10px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .dif {
    min-height: 50px !important;
  }
  .fa-whatsapp:before {
    content: "\f232";
}
.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

input{
  background: rgba(255, 255, 255, 0.4);
  border: none;
  width: 70%;
  padding: 1.0em;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  margin-left: 7px;
  border-radius: 5px;
}

// Placeholder Styling
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}