.main{
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 70%;
  border: 3px solid antiquewhite;
  float: left;
  margin: 10px;
}

.main-right{
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 70%;
  border: 3px solid antiquewhite;
  float: right;
  margin: 10px;
}